*,*::before,*::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --wordle-tries:6;
    --wordle-word-length:5;
}

html {
    font-size: 62.5%; /*10px root size*/
}

body {
    font-size: 1.4rem;
    min-height: 100vh;
    background-color: #111;
    color:#ddd;
    font-family: 'Lato', sans-serif;
}

.header,.footer {
    text-align: center;
    padding:10px 0;
}

.main_section {
    /*add styles*/
    width: 100vw;
}

.game_container{
    /*add styles*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
    width: 100%;
}

.wordle_grid {
    display:grid;
    grid-template-columns: repeat(var(--wordle-word-length),1fr);
    grid-template-rows: repeat(var(--wordle-tries),1fr);
    gap:5px;
}

.wordle_grid .letter {
    width: 50px;
    height: 50px;
    border:2px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
    text-transform: uppercase;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    user-select: none;
}

.keyboard_row {
    display: flex;
    justify-content: center;
    width: 100%;
    gap:5px;
    margin-bottom: 5px;
}

.keyboard .key {
    border:1px solid #ddd;
    flex:1;
    height:40px;
    max-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(231, 225, 225);
    color:#000;
}