*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --wordle-tries: 6;
  --wordle-word-length: 5;
}

html {
  font-size: 62.5%; /*10px root size*/
}

body {
  position: relative;
  font-size: 1.4rem;
  min-height: 100vh;
  background-color: #111;
  color: #ddd;
  font-family: "Lato", sans-serif;
}

.header,
.footer {
  text-align: center;
  padding: 10px 0;
}

.main_section {
  /*add styles*/
  width: 100vw;
}

.game_container {
  /*add styles*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 80vh;
  width: 100%;
}

.wordle_grid {
  display: grid;
  grid-template-columns: repeat(var(--wordle-word-length), 1fr);
  grid-template-rows: repeat(var(--wordle-tries), 1fr);
  gap: 5px;
}

.wordle_grid .letter {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 1px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
  text-transform: uppercase;
  user-select: none;
}

@keyframes xVibrate {
  from {
    transform: translateX(-30%);
  }
  to {
    transform: translateX(30%);
  }
}

.wordle_grid .letter.wrong-letter {
  background-color: #888282;
}

.letter.no_word {
  animation: 200ms cubic-bezier(0.85, 0.1, 0.25, 1.17) 2 alternate backwards
    xVibrate;
}

.wordle_grid .letter.wrong-position {
  background-color: #b4b41f;
}

.wordle_grid .letter.right-position {
  background-color: #008000;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  user-select: none;
}

.keyboard_row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
  margin-bottom: 5px;
}

.keyboard .key {
  border: 1px solid #ddd;
  flex: 1;
  height: 40px;
  max-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(231, 225, 225);
  color: #000;
}

.toast {
  min-width: 100px;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #fff;
  color: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  visibility: hidden;
}

.toast.visible {
  visibility: visible;
}

.play-again {
  background-color: green;
  color: #ddd;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.play-again:active {
  transform: translateY(-2px);
}
